## 🎯 Netflix Data Analysis Project – 1990s Movie Trends
**Ανάλυση δεδομένων από Data Analyst**

Σε αυτό το project εκτελείται εξερευνητική ανάλυση δεδομένων (Exploratory Data Analysis) για την κατανόηση τάσεων σε ταινίες της δεκαετίας του 1990 από το dataset `netflix_data.csv`.

**Στόχοι ανάλυσης:**
- Να εντοπιστεί ποια ήταν η πιο συχνή διάρκεια ταινιών που κυκλοφόρησαν μεταξύ 1990 και 1999.
- Να μετρηθεί ο αριθμός των σύντομων ταινιών δράσης (διάρκεια < 90 λεπτά) που κυκλοφόρησαν την ίδια περίοδο.

Οι παρακάτω αναλύσεις έχουν πραγματοποιηθεί από έναν Data Analyst για να εξάγουμε χρήσιμες πληροφορίες σχετικά με το είδος, τη διάρκεια και τις χρονικές τάσεις των ταινιών στη δεκαετία του '90.

### 🧾 Βήμα 1: Εισαγωγή βιβλιοθηκών και ανάγνωση δεδομένων
Σε αυτό το βήμα εισάγουμε τις βιβλιοθήκες `pandas` και `matplotlib`, και φορτώνουμε τα δεδομένα από αρχείο CSV σε ένα DataFrame.

In [2]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

### 📋 Βήμα 2: Εμφάνιση πρώτων γραμμών
Εμφανίζουμε τις πρώτες γραμμές του DataFrame για να δούμε τη δομή των δεδομένων.

In [4]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV

### 📊 Βήμα 3: Εύρεση της πιο συχνής διάρκειας ταινιών της δεκαετίας του 1990
Φιλτράρουμε τις ταινίες της δεκαετίας του 1990 και βρίσκουμε ποια διάρκεια εμφανίζεται πιο συχνά.

In [6]:
Movies_1990s = netflix_df[(netflix_df['release_year'] >= 1990) & (netflix_df['release_year'] < 2000)]
s = Movies_1990s.groupby('duration')['duration'].count().rename('count')
max_count = s.max()
duration = s[s == max_count].index[0]
print(duration)

94

### 🎬 Βήμα 4: Καταμέτρηση σύντομων ταινιών δράσης της δεκαετίας του 1990
Φιλτράρουμε ταινίες δράσης με διάρκεια κάτω από 90 λεπτά, που κυκλοφόρησαν μεταξύ 1990 και 1999, και υπολογίζουμε πόσες είναι.

In [8]:
Action_Movies = netflix_df[(netflix_df['genre'] == 'Action') & 
                           (netflix_df['duration'] < 90) & 
                           (netflix_df['type'] == 'Movie') & 
                           (netflix_df['release_year'].between(1990, 1999))]

short_movie_count = Action_Movies['show_id'].count()
print(short_movie_count)

7

Netflix! What started in 1997 as a DVD rental service has since exploded into one of the largest entertainment and media companies.

Given the large number of movies and series available on the platform, it is a perfect opportunity to flex your exploratory data analysis skills and dive into the entertainment industry.

You work for a production company that specializes in nostalgic styles. You want to do some research on movies released in the 1990's. You'll delve into Netflix data and perform exploratory data analysis to better understand this awesome movie decade!

You have been supplied with the dataset netflix_data.csv, along with the following table detailing the column names and descriptions. Feel free to experiment further after submitting!